html {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0db;
    font-weight: 400;
}

a {
    color: #2E2E2E;
    text-decoration: none; /*removes underlining of links*/
}

body {
    display: block;
    padding: 0;
    margin: 0 auto;
    height: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: #e0e0db;
    max-width: 1200px;
}

main {
    margin: auto;
    padding: 80px 0;
    max-width: 800px;
}

#about {
    padding-bottom: 25px;
}

.intro {
    max-width: 80%;
}

.intro#introSection {
    max-width: 80%;
    margin: 50px auto; 
}

div.intro#aboutMe{
    display: inline-block;
    max-width: 40%;
    min-width: 300px; 
    align-items: center;
} 

#recentWork {
    padding: 0 0 10px 0;
    text-align: center;
}

.projectSection {
    display: flex;
    justify-content: center;
}

.aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutSpacer {
    margin: 94px;
}

.projectPagesSpacer {
    margin: 130px;
}

.projectPhotos {
    width: 90%;
    height: auto;
    margin: 5%;
}

p {
    text-align: center;
}

#leftDiv {
    margin-bottom: 50px;
    max-width: 70%;
    max-height: 60%;
}

#rightDiv {
    max-width: 70%;
    max-height: 60%;
    margin: 0 1px;
}

li {
    display: inline; /*puts links beside eachother*/
    float: right;
    padding: 0 40px 0 0;
}

#home {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#hi{
    font-size: 20px;
}

#hello {
    color: blue;
}

img {
    height: 60%;
    width: 50%;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    color: white;
    background-color: #2E2E2E;
    padding: 10px 20px 20px;
    max-width: 100%;
}

#footerContent {
    margin: auto;
    text-align: left;
}

.navLink {
    color: white;
}

a.btn {     /* X button for modal */
    display: flex;
    justify-content: center;     
    padding: 0 0 0 420px;
    color: white;
}

#resume {
    width: 100%;
    height: 320px;
    max-width: 250px;
}

#resumeOverlay {
    width: 400px;
    height: 550px;
    max-width: 60%;
    max-height: 80%;
}

#imgContainer {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: 60px;
    padding-top: 60px;
}

.popupOverlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0, .8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
}

.popupOverlay.active {
    visibility: visible;
}

@media screen and (max-width: 800px) {
    .aboutSection {
      flex-direction: column;
    }
    .projectSection {
      flex-wrap: wrap;
    }
    #imgContainer {
        margin: 0;
    } 

 }

 @media screen and (max-width: 690px) {
    .popupOverlay.active {
        visibility: hidden;
    }
  
    
 }
